.Filter {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 30px 0;
  .left {
    
  }
  .right {
    //display: flex;
    //flex-direction: row;
    .flex-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      input {
        &:focus {
          border-bottom-color: $light-blue;
          box-shadow: 0 1px 0 0 $light-blue;
        }
      }
      label {
        &:active {
          color: $light-blue;
        }
        &:focus {
          color: $light-blue;
        }
      }
    }
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  button {
    margin-right: 20px;
    background-color: $light-blue;
    &.filter {
      background-color: darken($light-blue, 20%);
    }
    &.reset {
      background-color: lighten($blue-grey, 20%);
    }
  }
}