.Nav {
  background-color: #455a64;
  width: 100%;
  z-index: 10000;
  position: fixed;
  color: white;
  height: 70px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-dosis;
  font-size: 20px;
  @media(max-width: 767px){
    padding: 0 25px;
  }
  .logo {
    color: white;
    span {
      font-family: $font-dosis;
      font-size: 32px;
      margin-left: 10px;
    }
    &:hover {
      color: $light-blue;
    }
  }
  .logout {
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
    color: white;
    i {
      margin-left: 10px;
    }
    &:hover {
      color: $light-blue ;
    }
  }
}